@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .swiper {
        margin-top: 2.5rem;
        padding-bottom: 3rem;
    }
}

body{
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.5 !important;
}

*,body{
    font-size: 1rem;
}

ul,li{
    list-style: none;
}

.swiper-pagination-bullet-active{
    background: #a04cff !important;
}